.textarea {
  overflow-y: auto;

  width: 100%;
  max-width: 960px;
  border: 1px solid #d9d9d9;

  min-height: 40vh;
  max-height: 40vh;
  height: 100%;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
}
