@import '~antd/dist/antd.css';

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
  color: #7f8fa6;
  font-weight: bold;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  line-height: 32px;
  text-align: center;
  margin: 16px;
}

.logo a {
  color: rgba(255, 255, 255, 0.65) !important;
  text-decoration: none;
  font-size: 1.2rem;
}
